/*.soundbar {
	background-color: #CCC;
	height: 20px;
	width: 100%;
	position: relative;
}

.currentVolume {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 20px;
	background-color: green;
}
*/

.box-vide {
	margin-right: 25px;
}
.vide-other {
	height: 120px;
}
video {
	
	border: 2px solid silver;
}
.socket-id {
	font-size: 10px;
	margin-top: -6px;;
}